<div class="container-fluid">
    <div class="row">
        <h2 class="col">
            {{localize 'SHEET.Backgrounds'}}
        </h2>
    </div>
    <div class="tablebackgrounds tableitems">
        <div class="row tableheading">
            <div class="col-8">
                {{localize 'SHEET.Background'}}
            </div>
            <div class="col-2">
                {{localize 'ITEM.Background.ChoicesNumber'}}
            </div>
            <div class="col-2">
                {{localize 'SHEET.Actions'}}
            </div>
        </div>
        <section class="background-list item-list">
            {{#each items as |item id|}}
            {{#if (eq item.type "backgrounds")}}
            <div class="row tablerow">
                <div class="col-8 tableheader">
                    <a class="onChangeActiveDescription">{{item.name}}</a>
                </div>
                <div class="col-2 tableinput">
                    <span>
                        {{item.system.backgrounds.choices.value}}
                    </span>
                </div>
                <div class="col-2 tableinput">
                    <span>
                    {{#if item.system.removable.value }}
                    <a class="clickRemoveItem" data-id="{{item._id}}">
                        <i class="fas fa-trash"></i>
                    </a>
                    {{/if}}
                    </span>
                </div>
                <div class="col-12 tabledescripion">
                    <div>
                        {{{item.system.details.description.value}}}
                        <div class="backgroundBonusesDescription">
                            {{{item.system.backgrounds.bonuses.value}}}
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </section>
    </div>
</div>
