<div class="container-fluid">
    <div class="row">
        <label class="col-6" for="system.info.gender.value">
            {{localize "SHEET.Gender"}}
        </label>
        <input class="col-6" type="text" value="{{system.info.gender.value}}"
               name="system.info.gender.value" id="system.info.gender.value"
               placeholder="{{localize 'SHEET.Gender'}}" title="{{localize 'SHEET.Gender'}}">
    </div>
    <div class="row">
        <label class="col-6" for="system.info.age.value">
            {{localize "SHEET.Age"}}
        </label>
        <input class="col-6" type="text" value="{{system.info.age.value}}" name="system.info.age.value" id="system.info.age.value"
               placeholder="{{localize 'SHEET.Age'}}" title="{{localize 'SHEET.Age'}}">
    </div>
    <div class="row">
        <label class="col-6" for="system.info.height.value">
            {{localize "SHEET.Height"}}
        </label>
        <input class="col-6" type="text" value="{{system.info.height.value}}"
               name="system.info.height.value" id="system.info.height.value"
               placeholder="{{localize 'SHEET.Height'}}" title="{{localize 'SHEET.Height'}}">
    </div>
    <div class="row">
        <label class="col-6" for="system.info.weight.value">
            {{localize "SHEET.Weight"}}
        </label>
        <input class="col-6" type="text" value="{{system.info.weight.value}}"
               name="system.info.weight.value" id="system.info.weight.value"
               placeholder="{{localize 'SHEET.Weight'}}" title="{{localize 'SHEET.Weight'}}">
    </div>
</div>
