<div class="container-fluid">
    <div class="row">
    {{#each system.skills as |sk s|}}
        <div class="col-12 col-lg-6 tableitems tableskill">
            <h2>{{localize sk.label}}</h2>
            <div class="row tableheading">
                <div class="col-4 text-right">{{localize "SHEET.SkillLabel"}}</div>
                <div class="col-2">{{localize "SHEET.ScoreLabel"}}</div>
                <div class="col-2">{{localize "SHEET.GeniusLabel"}}</div>
                <div class="col-2">{{localize "SHEET.BonusLabel"}}</div>
                <div class="col-2">{{localize "SHEET.CheckedLabel"}}</div>
            </div>
                {{#each sk.skills as |skillObject skillKey|}}
                <div class="row tablerow">
                    <div class="col-4 tableheader">
                        <a class="skill-roll" data-skill="{{skillKey}}" data-section="{{s}}">{{localize skillObject.label}}</a>
                    </div>
                    <div class="col-2 tableinput">
                        <input class="changeSkillValue" value="{{skillObject.value}}" type="number" step="1" min="10" data-skill="{{skillKey}}" data-section="{{s}}">
                    </div>
                    <div class="col-2 tableinput">
                        <input class="changeCapValue" value="{{skillObject.maxCapModifier}}" type="number" step="10" min="0" data-skill="{{skillKey}}" data-section="{{s}}">
                    </div>
                    <div class="col-2 tableinput">
                        <span>{{skillObject.bonus}}</span>
                    </div>
                    <div class="col-2 tableinput tableinputblue">
                        <span class="clickChecked" data-skill="{{skillKey}}" data-section="{{s}}">
                        {{#if (eq skillObject.isChecked 1)}}
                            <i class="far fa-check-square"></i>
                        {{else}}
                            <i class="far fa-square"></i>
                        {{/if}}
                        </span>
                    </div>
                </div>
                {{/each}}
        </div>
    {{/each}}
    </div>
</div>
