<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{localize "ITEM.SocialFactor"}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.SocialFactor'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.socialFactor.value}}" name="system.socialFactor.value" step="1"
                   placeholder="{{localize 'ITEM.SocialFactor'}}" title="{{localize 'ITEM.SocialFactor'}}">
        </div>
    </div>
</div>
