<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{localize "ITEM.HullBonus"}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.HullBonus'}} (%)</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.hullBonus.value}}" name="system.hullBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.HullBonus'}}" title="{{localize 'ITEM.HullBonus'}}">
        </div>
    </div>
</div>
