<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{localize "ITEM.EnduranceAddition"}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.EnduranceAddition'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.enduranceAddition.value}}" name="system.enduranceAddition.value"
                   min="0" step="5"
                   placeholder="{{localize 'ITEM.EnduranceAddition'}}" title="{{localize 'ITEM.EnduranceAddition'}}">
        </div>
    </div>
</div>
