<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{localize "ITEM.ShipRange"}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.ShipRange'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.range.value}}" name="system.range.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.ShipRange'}}" title="{{localize 'ITEM.ShipRange'}}">
        </div>
    </div>
</div>
