<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>{{localize "ITEM.Cost"}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.PercentageShipCost'}} (%)</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.percentageCost.value}}" name="system.percentageCost.value" min="0" step="1"
             placeholder="{{localize 'ITEM.PercentageShipCost'}}" title="{{localize 'ITEM.PercentageShipCost'}}">
    </div>
  </div>
</div>
