<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>{{localize "ITEM.MeleeFightingDamageBonus"}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.MeleeFightingDamageBonus'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.meleeFightingDamageBonus.value}}" name="system.meleeFightingDamageBonus.value"
             placeholder="{{localize 'ITEM.MeleeFightingDamageBonus'}}" title="{{localize 'ITEM.MeleeFightingDamageBonus'}}">
    </div>
  </div>
</div>
