<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>{{localize "ITEM.KarmaCost"}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.KarmaCost'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.karmaCost.value}}" name="system.karmaCost.value"
             placeholder="{{localize 'ITEM.KarmaCost'}}" title="{{localize 'ITEM.KarmaCost'}}">
    </div>
  </div>
</div>
