<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{localize "ITEM.InitiativeAddition"}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.InitiativeAddition'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.initiativeAddition.value}}" name="system.initiativeAddition.value"
                   min="0" step="1"
                   placeholder="{{localize 'ITEM.InitiativeAddition'}}" title="{{localize 'ITEM.InitiativeAddition'}}">
        </div>
    </div>
</div>
