<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{localize "ITEM.ResistKnockdown"}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.ResistKnockdown'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.resistKnockdown.value}}" name="system.resistKnockdown.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.ResistKnockdown'}}" title="{{localize 'ITEM.ResistKnockdown'}}">
        </div>
    </div>
</div>
