<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>{{localize "ITEM.Armour.Absorb"}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.AbsorbFighting'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.armour.absorbFighting.value}}" name="system.armour.absorbFighting.value"
             placeholder="{{localize 'ITEM.Armour.AbsorbFighting'}}" title="{{localize 'ITEM.Armour.AbsorbFighting'}}">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.AbsorbMelee'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.armour.absorbMelee.value}}" name="system.armour.absorbMelee.value"
             placeholder="{{localize 'ITEM.Armour.AbsorbMelee'}}" title="{{localize 'ITEM.Armour.AbsorbMelee'}}">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.AbsorbKinetic'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.armour.absorbKinetic.value}}" name="system.armour.absorbKinetic.value"
             placeholder="{{localize 'ITEM.Armour.AbsorbKinetic'}}" title="{{localize 'ITEM.Armour.AbsorbKinetic'}}">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.AbsorbEnergy'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.armour.absorbEnergy.value}}" name="system.armour.absorbEnergy.value"
             placeholder="{{localize 'ITEM.Armour.AbsorbEnergy'}}" title="{{localize 'ITEM.Armour.AbsorbEnergy'}}">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.AbsorbExplosive'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.armour.absorbExplosive.value}}" name="system.armour.absorbExplosive.value"
             placeholder="{{localize 'ITEM.Armour.AbsorbExplosive'}}" title="{{localize 'ITEM.Armour.AbsorbExplosive'}}">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.AbsorbToxic'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="checkbox" class="absorbToxic" value="1"
             {{#if system.armour.absorbToxic.value}}
             checked="checked"
             {{/if}}
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>{{localize "ITEM.Notes"}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.SocialFactor'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.armour.socialFactor.value}}" name="system.armour.socialFactor.value"
             placeholder="{{localize 'ITEM.Armour.SocialFactor'}}" title="{{localize 'ITEM.Armour.SocialFactor'}}" step="1">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.AthleticsScore'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.armour.athleticsScore.value}}" name="system.armour.athleticsScore.value"
             placeholder="{{localize 'ITEM.Armour.AthleticsScore'}}" title="{{localize 'ITEM.Armour.AthleticsScore'}}" min="0" step="10">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.IntimidateScore'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.armour.intimidateScore.value}}" name="system.armour.intimidateScore.value"
             placeholder="{{localize 'ITEM.Armour.IntimidateScore'}}" title="{{localize 'ITEM.Armour.IntimidateScore'}}" min="0" step="10">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.Hardened'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="number" value="{{system.armour.hardened.value}}" name="system.armour.hardened.value"
             placeholder="{{localize 'ITEM.Armour.Hardened'}}" title="{{localize 'ITEM.Armour.Hardened'}}">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <span>{{localize 'ITEM.Armour.Discreet'}}</span>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <input type="checkbox" class="discreet" value="1"
             {{#if system.armour.discreet.value}}
             checked="checked"
             {{/if}}
      >
    </div>
  </div>
</div>
