<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{localize "ITEM.ShipBonuses"}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.HullBonus'}} (%)</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.hullBonus.value}}" name="system.hullBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.HullBonus'}}" title="{{localize 'ITEM.HullBonus'}}">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.SpeedBonus'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.speedBonus.value}}" name="system.speedBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.SpeedBonus'}}" title="{{localize 'ITEM.SpeedBonus'}}">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.AgilityBonus'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.agilityBonus.value}}" name="system.agilityBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.AgilityBonus'}}" title="{{localize 'ITEM.AgilityBonus'}}">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.FloatingBonus'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.floatingBonus.value}}" name="system.floatingBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.FloatingBonus'}}" title="{{localize 'ITEM.FloatingBonus'}}">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.ToHitBonus'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.toHitBonus.value}}" name="system.toHitBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.ToHitBonus'}}" title="{{localize 'ITEM.ToHitBonus'}}">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.InitiativeBonus'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.initiativeBonus.value}}" name="system.initiativeBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.InitiativeBonus'}}" title="{{localize 'ITEM.InitiativeBonus'}}">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.DogfightingBonus'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.dogfightingBonus.value}}" name="system.dogfightingBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.DogfightingBonus'}}" title="{{localize 'ITEM.DogfightingBonus'}}">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.ShieldBonus'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.shieldBonus.value}}" name="system.shieldBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.ShieldBonus'}}" title="{{localize 'ITEM.ShieldBonus'}}">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.GeneralScanBonus'}}</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.scanBonus.value}}" name="system.scanBonus.value" min="0" step="1"
                   placeholder="{{localize 'ITEM.GeneralScanBonus'}}" title="{{localize 'ITEM.GeneralScanBonus'}}">
        </div>
    </div>
</div>
