<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{localize "ITEM.Cost"}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>{{localize 'ITEM.Cost'}} ({{localize 'TIER.CreditsAbbrev'}})</span>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <input type="number" value="{{system.cost.value}}" name="system.cost.value"
                   placeholder="{{localize 'ITEM.Cost'}}" title="{{localize 'ITEM.Cost'}}">
        </div>
    </div>
</div>
