@for $i from 1 through $columns {
  .col-#{$i} {
    width: (100% * $i / $columns);
    padding: $gutter/2;
  }
}
@for $i from 1 through $columns {
  .col-#{$i} {
    width: (100% * $i / $columns);
    padding: $gutter/2;
  }
}

.flex{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.row{
  margin: $gutter 0;
  padding: 0 -$gutter/2;
  display: flex;
}
