<div class="chatMessage">
{{#if actorName}}
    <div class="actor">
        <div class="image" style="background-image: url({{actorImage}});"></div>
        <div class="name">
            {{actorName}}
        </div>
    </div>
{{/if}}
    <div>
        <div>
            <strong>{{title}}</strong>
        </div>
        <div>
            <strong>{{localize "CHAT.RollResult"}}</strong>
            {{result}} vs {{difficulty}}
        </div>
        <p class="testResult">
            {{localize 'CHAT.TestResult'}}
            {{#if isPassed}}
            <strong class="success">
                {{#if isCritical}}
                    {{localize 'CHAT.TestCritSuccess'}}
                {{else}}
                    {{localize 'CHAT.TestSuccess'}}
                {{/if}}
            </strong>
            {{else}}
            <strong class="failure">
                {{#if isCritical}}
                    {{localize 'CHAT.TestCritFailure'}}
                {{else}}
                    {{localize 'CHAT.TestFailure'}}
                {{/if}}
            </strong>
            {{/if}}
        </p>
        <div class="backgroundBonusesDescription">
            {{localize "CHAT.Roll"}} {{roll}}, {{localize "CHAT.SkillBonus"}} {{bonus}}, {{localize "CHAT.BonusModifier"}} {{bonusModifier}}, {{localize "CHAT.DifficultyNumber"}} {{difficulty}}
        </div>
        {{#if canReRoll}}
        <div class="buttons">
            <a class="reroll"><i class="fa-solid fa-dice-d10"></i> {{localize 'CHAT.KarmaReroll'}}</a>
        </div>
        {{/if}}
    </div>
</div>
