/** 0. Settings **/

$gutter: .2rem;
$default-color: #012533;

$window-background-color: #ffffff;
$sheet-tabs-gradient: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(179,197,227,1) 100%);
$active-tab-background: #78a0d1;
$active-tab-color: #ffffff;

$personal-info-gradient: linear-gradient(90deg, rgba(187,199,221,1) 0%, rgba(255,255,255,1) 100%);
$default-heading-gradient: linear-gradient(90deg, rgba(3,19,24,1) 0%, rgba(0,83,125,1) 100%);
$default-heading-color: #ffffff;
$karma-heading-gradient: linear-gradient(90deg, rgba(86,36,133,1) 0%, rgba(101,73,150,1) 100%);
$karma-input-gradient: linear-gradient(90deg, rgba(197,191,220,1) 0%, rgba(255,255,255,1) 100%);
$endurance-heading-gradient: linear-gradient(90deg, rgba(226,73,15,1) 0%, rgba(244,163,0,1) 100%);
$endurance-input-gradient: linear-gradient(90deg, rgba(240,205,198,1) 0%, rgba(255,255,255,1) 100%);
$skills-gradient: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(179,197,227,1) 100%);
$background-description-gradient: linear-gradient(90deg, #142136 0%, #457fc1 100%);
$background-description-color: #ffffff;

$skill-heading-color: #78a0d1;
$skill-default-color: #f1f1f3;
$skill-default-border: #a5a4a8;
$skill-blue-color: #e4ecf7;
$skill-blue-border: #a9b6c5;
$description-background: #e4ecf7;
$description-border: #a9b6c5;

$chat-background: #ffffff;
$chat-color: #012533;
$chat-heading-background: #78a0d1;
$chat-heading-color: #ffffff;
$chat-test-success-color: #33d633;
$chat-test-failure-color: #d63333;
$chat-img-background: #78a0d1;
$chat-actor-border: dashed 1px #78a0d1;
$chat-button-border: solid 1px rgba(86,36,133,1);
$chat-button-color: $default-color;
$chat-button-background: $karma-input-gradient;



@import 'bootstrap/bootstrap-grid';
@import "custom/1-fonts";
@import "custom/2-windows";
@import "custom/3-sheet";
@import "custom/4-tests";
@import "custom/5-chat";

i{
  pointer-events: none;
}

#tinymce {
  overflow-y: hidden;
  overflow-x: hidden;
}

.editor-content ul {
  margin: 0px 0px;
}

body{
  font-family: "Saira Semi Condensed", sans-serif;

  font-size: 1em;
}

.input{
  max-width: 100%;
}

