<form class="{{cssClass}}" autocomplete="off">
    <header class="container-fluid" ondragstart="return false;" ondrop="return false;">
        <div class="row">
            <div class="col-4 col-lg-2 characterImage">
                <img class="" src="{{actor.img}}" title="{{actor.name}}" data-edit="img">
            </div>
            <div class="col-6 col-lg-10">
                <div class="row">
                    <div class="col-12">
                        <label class="nameField">
                            <input name="name" type="text" value="{{actor.name}}"
                                   placeholder="{{localize 'Character Name'}}">
                            <span>{{localize "Name"}}</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>
                            <div class="input">{{localize system.status.rank.value.name}}</div>
                            <span>{{localize "SHEET.Rank"}}</span>
                        </label>
                    </div>
                    <div class="col-6">
                        <label>
                            <input class="rankPoints changeStatusValue"
                                   data-stateid="rankPoints" type="number" value="{{system.status.rankPoints.value}}"
                                   placeholder="{{localize 'SHEET.RankPoints'}}"
                                   min="0"
                                   step="1"
                            >
                            <span>{{localize "SHEET.RankPoints"}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <label>
                    <input
                            type="number" value="{{system.skills.personalCombat.skills.dodge.bonus}}"
                            readonly="readonly"
                    >
                    <span>{{localize "SHEET.DefenceDodge"}}</span>
                </label>
            </div>
            <div class="col-12 col-lg-4">
                <label>
                    <input
                            type="number" value="{{system.skills.intelligence.skills.tactics.bonus}}"
                            readonly="readonly"
                    >
                    <span>{{localize "SHEET.InitiativeTactics"}}</span>
                </label>
            </div>
            <div class="col-12 col-lg-4">
                <label>
                    <input
                            type="number" value="{{system.skills.personalCombat.skills.parry.bonus}}"
                            readonly="readonly"
                    >
                    <span>{{localize "SHEET.DefenceParry"}}</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <label class="karma">
                            <input class=""
                                   name="system.status.karma.value"
                                   type="number" value="{{system.status.karma.value}}"
                                   min="0"
                                   step="1"
                            >
                            <span>{{localize "SHEET.Karma"}}</span>
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="karma">
                            <input type="number"
                                   value="{{system.status.rank.value.karmaPoints}}"
                                   readonly="readonly"
                            >
                            <span>{{localize "SHEET.Max"}}</span>
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="karma">
                            <input class=""
                                   name="system.status.karmaCyber.value"
                                   type="number" value="{{system.status.karmaCyber.value}}"
                                   min="0"
                                   step="1"
                            >
                            <span>{{localize "SHEET.KarmaCyber"}}</span>
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="karma">
                            <input type="number"
                                   min="0"
                                   step="1"
                                   name="system.status.karmaCyberMax.value"
                                   value="{{system.status.karmaCyberMax.value}}"
                            >
                            <span>{{localize "SHEET.Max"}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <label class="endurance">
                            <input class=""
                                   name="system.status.endurance.value"
                                   type="number" value="{{system.status.endurance.value}}"
                                   step="1"
                            >
                            <span>{{localize "SHEET.Endurance"}}</span>
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="endurance">
                            <input type="number"
                                   value="{{system.status.rank.value.endurance}}"
                                   readonly="readonly"
                            >
                            <span>{{localize "SHEET.Max"}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- TABS -->
    <section id="tab-sections">
        <nav id="edrpg-tabs" class="sheet-tabs tabs" ondragstart="return false;" ondrop="return false;">
            <a class="item active" data-tab="main">{{localize "SHEET.MainLabel"}}</a>
            <a class="item" data-tab="skills">{{localize "SHEET.SkillsLabel"}}</a>
            <a class="item" data-tab="backgroundskarma">{{localize "SHEET.BackgroundsAndKarmaLabel"}}</a>
            <a class="item" data-tab="combat">{{localize "SHEET.CombatLabel"}}</a>
            <a class="item" data-tab="equipment">{{localize "SHEET.EquipmentLabel"}}</a>
            <a class="item" data-tab="details">{{localize "SHEET.DetailsLabel"}}</a>
        </nav>

        <section class="content">
            <div class="tab main save-scroll" data-tab="main">
                {{> systems/edrpg/templates/sheets/partials/actor-main.html}}
            </div>
            <div class="tab skills save-scroll" data-tab="skills">
                {{> systems/edrpg/templates/sheets/partials/actor-skills.html}}
            </div>
            <div class="tab main save-scroll" data-tab="backgroundskarma">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{> systems/edrpg/templates/sheets/partials/actor-backgrounds.html}}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{> systems/edrpg/templates/sheets/partials/actor-karma.html}}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{> systems/edrpg/templates/sheets/partials/actor-enhancements.html}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab main save-scroll" data-tab="combat">
                {{> systems/edrpg/templates/sheets/partials/actor-combat.html}}
            </div>
            <div class="tab main save-scroll" data-tab="equipment">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{> systems/edrpg/templates/sheets/partials/equipment/ranged-weapons.html}}
                            {{> systems/edrpg/templates/sheets/partials/equipment/clips-grenades.html}}
                            {{> systems/edrpg/templates/sheets/partials/equipment/armour.html}}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{> systems/edrpg/templates/sheets/partials/equipment/close-combat.html}}
                            {{> systems/edrpg/templates/sheets/partials/equipment/cybernetics.html}}
                            {{> systems/edrpg/templates/sheets/partials/equipment/general.html}}
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab main save-scroll" data-tab="details">
                {{> systems/edrpg/templates/sheets/partials/actor-details.html}}
            </div>
        </section>
    </section>

</form>
