/** 1. Local Fonts **/

@font-face {
  font-family: "Changa";
  src: url('../fonts/Changa-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: "Changa";
  src: url('../fonts/Changa-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: "Changa";
  src: url('../fonts/Changa-Regular.ttf');
}
@font-face {
  font-family: "Changa";
  src: url('../fonts/Changa-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Changa";
  src: url('../fonts/Changa-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: "Changa";
  src: url('../fonts/Changa-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Changa";
  src: url('../fonts/Changa-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../fonts/SairaSemiCondensed-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../fonts/SairaSemiCondensed-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../fonts/SairaSemiCondensed-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../fonts/SairaSemiCondensed-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../fonts/SairaSemiCondensed-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../fonts/SairaSemiCondensed-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../fonts/SairaSemiCondensed-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../fonts/SairaSemiCondensed-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../fonts/SairaSemiCondensed-Black.ttf');
  font-weight: 900;
}
