.difficultyNumbers{
  display: flex;
  max-width: 100%;
  overflow: auto;
  a{
    display:block;
    min-width: 30px;
    text-align: center;
    width: 9%;
    margin: 0 3px 3px 0;
    box-sizing: border-box;
    border: solid 1px #444444;
    font-weight: bold;
    &:nth-of-type(1){
      background: #d9f2d8;
    }
    &:nth-of-type(2){
      background: #c4eac4;
    }
    &:nth-of-type(3){
      background: #ade1ae;
    }
    &:nth-of-type(4){
      background: #84d185;
    }
    &:nth-of-type(5){
      background: #51be53;
    }
    &:nth-of-type(6){
      background: #1caa1f;
    }
    &:nth-of-type(7){
      background: #5fc434;
    }
    &:nth-of-type(8){
      background: #9cdb47;
    }
    &:nth-of-type(9){
      background: #cbed56;
    }
    &:nth-of-type(10){
      background: #faff65;
    }
    &:nth-of-type(11){
      background: #faec5f;
    }
    &:nth-of-type(12){
      background: #fbd559;
    }
    &:nth-of-type(13){
      background: #fbc253;
    }
    &:nth-of-type(14){
      background: #fcaf4e;
    }
    &:nth-of-type(15){
      background: #fd9848;
    }
    &:nth-of-type(16){
      background: #fd8141;
    }
    &:nth-of-type(17){
      background: #fd6e3b;
    }
    &:nth-of-type(18){
      background: #fd5e36;
    }
    &:nth-of-type(19){
      background: #fe4730;
    }
    &:nth-of-type(20){
      background: #ff2727;
    }
    &.selected{
      border: solid 1px #d60000;
      background: #ffffff;
    }
  }
}
